<?xml version='1.0' encoding='utf-8'?>
<!--
  Cloud Foundry tc Server Buildpack
  Copyright (c) 2013 Pivotal, Inc.  All rights reserved.
-->

<Server port='-1'>

    <Listener className='org.apache.catalina.core.JasperListener'/>

    <Service name='Catalina'>
        <Connector port='@http.port@' bindOnInit="false"/>

        <Engine defaultHost='localhost' name='Catalina'>
            <Valve className="org.apache.catalina.valves.RemoteIpValve" protocolHeader="x-forwarded-proto"/>
            <Valve className="com.gopivotal.cloudfoundry.tomcat.logging.access.CloudFoundryAccessLoggingValve"
                   pattern='[ACCESS] %h %l %u %t "%r" %s %b %{X-Vcap-Request-Id}i' enabled="@access.logging.enabled@"/>
            <Host name='localhost'>
                <Listener className="com.gopivotal.cloudfoundry.tomcat.lifecycle.ApplicationStartupFailureDetectingLifecycleListener"/>
            </Host>
        </Engine>
    </Service>

</Server>
